/* CSS declarations go here */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  background-color: #e9e9e9; }

.body {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100em;
  padding: 1em; }
  .body:before, .body:after {
    content: " ";
    display: table; }
  .body:after {
    clear: both; }
  .body .row {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em; }
    .body .row:before, .body .row:after {
      content: " ";
      display: table; }
    .body .row:after {
      clear: both; }

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 56px;
  background-color: #4eb972;
  color: white; }
  header h3 {
    margin: 0;
    line-height: 56px;
    font-weight: normal; }
    header h3 i {
      padding: 16px 24px; }

h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em; }

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  padding: 1em;
  border-radius: 4px;
  margin-top: 1em;
  width: auto;
  height: auto;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .card:before, .card:after {
    content: " ";
    display: table; }
  .card:after {
    clear: both; }
  .card:last-child {
    margin-right: 0; }
  @media screen and (max-width: 960px) {
    .card {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .card:last-child {
        margin-right: 0; } }
  .card.small {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .card.small:last-child {
      margin-right: 0; }
    @media screen and (max-width: 960px) {
      .card.small {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .card.small:last-child {
          margin-right: 0; } }

.ls-container, .lc-container, .sf-container, .rc-container {
  word-break: break-word; }
  .ls-container ul, .lc-container ul, .sf-container ul, .rc-container ul {
    max-height: 400px;
    overflow-y: scroll; }
  .ls-container .page-row, .lc-container .page-row, .sf-container .page-row, .rc-container .page-row {
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    position: relative; }
    .ls-container .page-row a, .lc-container .page-row a, .sf-container .page-row a, .rc-container .page-row a {
      color: #333; }
    .ls-container .page-row i, .lc-container .page-row i, .sf-container .page-row i, .rc-container .page-row i {
      position: absolute;
      right: 4px;
      bottom: 4px;
      color: #2980b9; }
  .ls-container .head, .lc-container .head, .sf-container .head, .rc-container .head {
    background-color: #4eb972;
    color: white;
    padding: 8px;
    padding-right: 28px;
    font-weight: bold;
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .ls-container .head:before, .ls-container .head:after, .lc-container .head:before, .lc-container .head:after, .sf-container .head:before, .sf-container .head:after, .rc-container .head:before, .rc-container .head:after {
      content: " ";
      display: table; }
    .ls-container .head:after, .lc-container .head:after, .sf-container .head:after, .rc-container .head:after {
      clear: both; }
    .ls-container .head div, .lc-container .head div, .sf-container .head div, .rc-container .head div {
      color: white !important; }

.rc-container .inner-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .rc-container .inner-container:before, .rc-container .inner-container:after {
    content: " ";
    display: table; }
  .rc-container .inner-container:after {
    clear: both; }
  .rc-container .inner-container div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .rc-container .inner-container div:last-child {
      margin-right: 0; }

.ls-container .inner-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .ls-container .inner-container:before, .ls-container .inner-container:after {
    content: " ";
    display: table; }
  .ls-container .inner-container:after {
    clear: both; }
  .ls-container .inner-container div {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 19.7578833532%;
    color: #333; }
    .ls-container .inner-container div:last-child {
      margin-right: 0; }
    .ls-container .inner-container div.image {
      float: left;
      display: block;
      margin-right: 3.1684356888%;
      width: 8.2947238322%; }
      .ls-container .inner-container div.image:last-child {
        margin-right: 0; }

.lc-container .inner-container, .sf-container .inner-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .lc-container .inner-container:before, .lc-container .inner-container:after, .sf-container .inner-container:before, .sf-container .inner-container:after {
    content: " ";
    display: table; }
  .lc-container .inner-container:after, .sf-container .inner-container:after {
    clear: both; }
  .lc-container .inner-container div, .sf-container .inner-container div {
    float: left;
    display: block;
    margin-right: 2.8425855704%;
    width: 17.7259315437%; }
    .lc-container .inner-container div:last-child, .sf-container .inner-container div:last-child {
      margin-right: 0; }

.clickable {
  cursor: pointer; }
  .clickable:hover {
    background-color: #f9f9f9; }
  .clickable:active {
    background-color: #c9c9c9; }

.vtp-container canvas, .visits-container canvas {
  width: 100% !important;
  height: auto !important; }
