/* CSS declarations go here */
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$main-color:#4eb972;
$other-color: #e67e22;
$third-color: #8e44ad;
$link-blue:#2980b9; 

$small-screen: new-breakpoint(max-width 960px);

* {
    @include box-sizing(border-box);
}

@mixin box-shadow-helper($level) {
    @if $level == 1 {
        $value: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    @if $level == 2 {
        $value: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    @if $level == 3 {
        $value: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    @if $level == 4 {
        $value: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @if $level == 5 {
        $value: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    box-shadow: $value;
}

html, body {
    padding: 0;
    margin: 0;
    background-color:#e9e9e9;
}

.body {
    @include outer-container;
    max-width:100em;
    padding:1em;
    .row {
        @include outer-container;
        max-width:100em;
    }
}

header {
    @include box-shadow-helper(2);
    height:56px;
    background-color:$main-color;
    color:white;
    h3 {
        margin:0;
        line-height:56px;
        font-weight: normal;
        i {
            padding: 16px 24px
        }
    }
}

h1 {
    text-align:center;
    font-weight:normal;
    margin-top:1em;
    &.weekly {
        margin-top:.5em;
    }
    &.metrics {
        color:darken($main-color, 10);
    }
    &.errors {
        color:darken(#e74c3c, 10);
    }
}

.card {
    @include box-shadow-helper(1); 
    background-color:white;
    padding:1em;
    border-radius: 4px;
    margin-top:1em;
    width:auto;
    height:auto;
    @include outer-container;
    @include span-columns(6 of 12);
    @include media($small-screen) {
        @include span-columns(12 of 12);
    }
    &.small {
        @include span-columns(4 of 12);
        @include media($small-screen) {
            @include span-columns(4 of 12);
        }
    }
    h2 {
        margin-bottom:.5em;
        font-weight: 300;
        font-size:1.75em;
    }
}

.ls-container, .lc-container, .sf-container, .rc-container {
    word-break: break-word;
    ul {
        max-height:400px;
        overflow-y: scroll;
    }
    .page-row {
        border-bottom: 1px solid lightgrey;
        padding: 8px;
        position:relative;
        a {
            color:#333;
        }
        i {
            position:absolute;
            right:4px;
            bottom:4px;
            color: $link-blue;
        }
    }
    .head {
        background-color:#4eb972;
        color:white;
        padding:8px;
        padding-right:28px;
        font-weight:bold;
        @include outer-container;
        @include box-shadow-helper(1); 
        div {
            color:white !important;
        }
    }
}

.rc-container {
    .inner-container {
        @include outer-container;
        div {
            @include span-columns(3 of 12);
        }
    }
}
.ls-container {
    .inner-container {
        @include outer-container;
        div {
            @include span-columns(2 of 9);
            color:#333;
            &.image {
                @include span-columns(1 of 9);
            }
        }
    }
}

.lc-container, .sf-container {
    .inner-container {
        @include outer-container;
        div {
            @include span-columns(2 of 10);
        }
    }
}

.clickable {
    cursor:pointer;
    &:hover {
        background-color: #f9f9f9;
    }
    &:active {
        background-color:#c9c9c9;
    }
}

.vtp-container, .visits-container {
    canvas {
        width:100% !important;
        height: auto !important;
    }
}

.date-pick {
    margin: 0 auto;
    margin-top:-2.5em;
    label {
        display: inline-block;
    }
    input {
        display:inline-block;
        width:128px;
        text-align:center;
    }
}

/** spinner code **/

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner-container {
    display:flex;
    height:100%;
    width:100%;
    align-items:center;
    justify-content: center;
    margin-top:200px;
    &.small {
        width:100%;
        height:400px;
        margin-top:50px;
    }
}

.spinner {
  @include animation(rotator $duration linear infinite);
}

@include keyframes(rotator) {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  @include animation(dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite);
}

@include keyframes(colors) {
    0% { stroke: $main-color; }
    25% { stroke: $other-color; }
    50% { stroke: $third-color; }
    75% { stroke: $link-blue; }
  100% { stroke: $main-color; }
}

@include keyframes(dash) {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
